*{
      font-family: 'Karla', sans-serif;
}
h1{
    color: black;
    /* text-align: center; */
    font-family: 'Fugaz One', cursive;
    /* font-weight: 700; */
    font-size: 4em;
}
h2{
    color: black;
    /* text-align: center; */
    font-family: 'Fugaz One', cursive;
    font-weight: 700;
    font-size: 2em;
}



h3{
    color: fuchsia;
    /* text-align: center; */
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

p{
    color: darkgray;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    font-size: 1em;
    
}

/* img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%  */


header{
    background-color:white;
    height: 110px;
    display: flex;
    justify-content: space-around;
}

main{
    height: 530pt;
    background-color: #94f6f2;
    display: space-around;
    padding: 24px;
}



.col{
    /* float:left; */
    /* width: 30%; */
    padding: 16px 64px;
    /* border:coral; */
    /* background-color: lightcyan; */
    /* display: flex;
    justify-content: space-around; */
}




footer{
    background-color: #94f6f2;
}

.row{
    display: flex;
    justify-content: space-between;
}


.icon{
    color:rgb(127, 255, 255);
    padding: 10px;

}

a{
    padding: 5px 20px;
    text-decoration: none;
 }

 a:link{
     text-decoration: none;
     color:black;
 }

 a:hover{
     text-decoration: underline;
     color: pink;
 }

 a:visited{
    text-decoration: none;
    color:black;

 }


.img-rounded {
    border-radius: 15%;
    width: 300px;
    height:300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    

}

.imgCandy {
    background-image: url('../images/candy.jpeg');
}

.imgSprinkles {
    background-image: url('../images/2795918.jpg');
}


.col-1 {width: 8.33%;}
/* .col-2 {width: 16.66%;} */
.col-2 {width: 5%;}
.col-3 {width: 25%;}
.col-4 {width: 20%; }
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.roundedCorner{
    border-radius: 5%;
    padding:10px;
}

.bkgColorblue{
background-color: #94f6f2;
}

.bkgColorpink{
    background-color: #fbd0f5;
    }

.bkSizeLarge{
    padding:24px;
}

ul{
list-style-type: none;
/* margin: 0; */
padding: 0;
}

li{
    display: inline;
}

li a{
    display: inline-block;
    padding: 4px 8px;
}

.logoCandy{

    background-image: url(../images/candy-logo-\ .png);
    width: 200px;
    height:100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.txtCenter{
    text-align: center;
}

.txtJustify{
    text-align: justify;
}

.txtLeft{
    text-align: left;
}


button{
    display:inline-block;
    text-decoration: none;
    text-align: center;
    height: 40px;
    width: 200px;
    border-radius: 35px;
    background-color: #f7f680; 
}

button:active{
    background-color: #fbd0f5;
}


.outlineButton{
    display:inline-block;
    /* height: 40px;
    width: 80px; */
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    border: 2px solid aqua;
    padding: 10px 10px

}