body{
    font-family: 'Courier New', Courier, monospace;

}

h1{
    color: white;
    text-align: center;
    font-family: 'B612 Mono', monospace;
    font-weight: 700;
    font-size: 2.5em;
}
h2{
    color: orchid;
    text-align: center;
    font-family: 'B612 Mono', monospace;
    font-weight: 700;
}

p{
    color: darkgray;
    text-align: center;
    font-family: monospace; 
    font-weight: 200;
    font-size: 1.5em;
    
}

/* img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%  */


header{
    background-color:white;
    height: 110px;
    display: flex;
    justify-content: space-around;
}

main{
    height: 530pt;
    background-color: #94f6f2;
}



.col{
    /* float:left; */
    /* width: 30%; */
    /* padding: 15px; */
    /* border:coral; */
    /* background-color: lightcyan; */
    /* display: flex;
    justify-content: space-around; */
}




footer{
    height: 850px;
    background-color: #94f6f2;
}

.row{
    display: flex;
    justify-content: space-around;
}


.icon{
    color:rgb(127, 255, 255);
    padding: 10px;
}

/* a{
    padding: 5px 20px;
 } */



.img-rounded {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    

}

.imgCandy {
    background-image: url('../images/candy.jpeg');
}

.imgSprinkles {
    background-image: url('../images/2795918.jpg');
}


.col-1 {width: 8.33%;}
/* .col-2 {width: 16.66%;} */
/* .col-2 {width: calc(100%/6);} */
.col-3 {width: 25%;}
.col-4 {width: calc(100%/3);}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.roundedCorner{
    border-radius: 5%;
    padding:10px;
}

.bkgColorblue{
background-color: #94f6f2;
}

.bkgColorpink{
    background-color: #fbd0f5;
    }

.bkSizeLarge{
    height: 750pt;
}

ul{
list-style-type: none;
/* margin: 0; */
padding: 0;
}

li{
    display: inline;
}

li a{
    display: inline-block;
    padding: 4px 8px;
}